<!-- src/app/components/home/home.component.html -->
<div *ngFor="let macchina of macchine" class="card">
  <img
    [src]="macchina.modelImage"
    class="card-img-top"
    [alt]="macchina.model"
  />
  <div class="card-body">
    <h5 class="card-title">{{ macchina.brand }} - {{ macchina.model }}</h5>
    <p class="card-text">
      Year: {{ macchina.year }}<br />
      Price: {{ macchina.price | currency }}<br />
      Available: {{ macchina.available ? "Yes" : "No" }}
    </p>
    <a href="#" class="btn btn-primary">Go somewhere</a>
  </div>
</div>
